@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Jura&display=swap');
@font-face {
    font-family: Cafenero;
    src: url(../sources/fonts/Cafe-Nero-M54.ttf);
}



/* ---- Modifiers ---- */
*{
    font-family: 'Jura';
    color: #fff;
}

body{
    background-color: #0e0e10;
    min-height: 3000px;
    overflow: overlay;
}

nav{
    background-color: #17161E;
}

h1{
    margin: 8vh;
    text-align: center;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus{
    border: 1px solid #292735;
    -webkit-text-fill-color: rgb(240, 240, 240);
    box-shadow: 0 0 0px 1000px #17161E inset;
    -webkit-box-shadow: 0 0 0px 1000px #17161E inset;
    transition: background-color 5000s ease-in-out 0s;
}

a{
    color: #eee;
}

a:hover{
    color: #999;
}

span.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}



/* ---- Classes ---- */
.cafenero{
    font-family: 'Cafenero';
    letter-spacing: 2px;
}

.bold{
    font-weight: bolder;
}

.nav-style{
    height:auto;
    align-items: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.nav-top{
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.nav-text{
    margin: 0 15px 0 15px;
    color: #fff !important;
}

.nav-text:hover{
    color: rgb(197, 197, 197) !important;
}

.logo-style{
    width: 120px;
    transition: 0.4s;
}

.logo-img{
    width: 100px;
    margin: 10px;
    transition: 0.4s;
}

.active{
    color: rgb(193, 240, 255) !important;
}

.nav-logo-small{
    height: 0px;
    width: 0px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.video-source {
    height: 100%;
    width: 100vw;
    margin: 0px auto 0px auto;
    display: block;
}

.img-source{
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

.video-div{
    padding-top: 120px;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.main-header{
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.round-border-pic{
    border-radius: 40px;
}


.form-div-input{
    background-color: #17161E;
    border-color: #292735;
    color: rgb(240, 240, 240);
}

.form-div-input:focus{
    background-color: #201e29;
    border-color: #292735;
    color: rgb(240, 240, 240);
    box-shadow: 0 0 0 0.25rem rgba(193 240 255 / 5%) !important;
}

.content-div{
    margin-left:20%;
    width: 60%;
    transition: 0.4s;
}

.about-image{
    margin: 0 auto 50px auto;
    display: block;
    width: 40%;
    border-radius: 10px;
}

.map-size{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    transition: border-radius 500ms;
}

.map-size:hover{
    border-radius: 20px;
}

.icon-img{
    width: 12%;
    margin-right: 5px;
}

.social-div{
    background-color: #17161e;
    border-radius: 10px;
    padding: 30px;
}

.social-img{
    width: 60%;
    border-radius: 38px;
    margin: 0 auto 0 auto;
    display: block;
}

.social-row{
    height: 33%;
}

.rounded{
    border-radius: 100% !important;
}

.social-p{
    font-size: 20px;
}

.separator{
    padding-top: 120px;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 35vh;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed #ccc;
    height: 100%;
    display: block;
    height: 2850px;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}

.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #c8d7f5;
    font-size: 1.5rem;
}

.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}

.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: #1f1f24;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: #1f1f24;
}

.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #1f1f24;
    border: 2px dashed #ccc;
}

.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    line-height: 150%;
}

.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}

.timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #353535;
    margin-bottom: 10px;
    display: inline-block;
}

.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
}

.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}

.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}

.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}

.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

.timeline-img{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #353535;
}

.gallery-content-div{
    padding: 2px;
}

.gallery-img{
    width: 100%;
    height: 100%; 
    object-fit: contain;
    transition: transform 200ms;
}

.gallery-img:hover{
    transform: scale(1.1);
}

.gallery-socials{
    text-align: center;
    padding-bottom: 20px;
}

.gallery-socials-img{
    height: 50px;
}

.modal-carousel{
    height: 100vh;
    width: 100vw;
}

.footer-div{
    margin-top: 100px;
    height: 50px;
    background-color: #17161E;
}

.footer-text{
    padding: 13px;
    margin: 0px;
    
}

.footer-img{
    text-align: right;
    height: 30px;
    margin: auto;
    padding-right: 10px;
}

.content-img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    transition: 500ms;
}

.content-img-art{
    width: 30%;
    transition: 500ms;
    border-radius: 20px;
}

.content-img:hover, .content-img-art:hover{
    transform: scale(1.1);
    border-radius: 2px;
}

.twitter-embed{
    border-radius: 20px;
    border:1px solid #202020;
    padding: 5px;
}




/* ---- Scroll Bar ---- */
::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    background-color: #17161e00;
}
 
::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 50px;
    background-color: rgb(107, 107, 107);
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(148, 148, 148);
}



/* ---- IDs ---- */
#inputMessage{
    height: 200px;
}

#inputButton{
    background-color: #1f1f24;
    border-color: #292735;
}

#inputButton:focus{
    background-color: #1f1f24;
    border-color: #292735;
    box-shadow: 0 0 0 0.25rem rgba(193 240 255 / 5%) !important;
}



/* ---- Common media classes ---- */




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .nav-style{
        align-items: baseline;
        padding: 10px;
    }

    .logo-style, .logo-img{
        width: 0px;
        height: 0px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .nav-logo-small{
        visibility:visible;
        height: 50px;
        width: 50px;
        padding: 5px;
    }

    .video-div{
        padding-top: 70px;
    }

    .content-div{
        margin-left:5%;
        width: 90%;
    }
    
    .social-p{
        font-size: 18px;
        margin-top: 20px;
    }

    .content-img-art{
        width: 90%;
    }
}

/* Small devices (landscape phones, entre 576px y 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .content-div{
        margin-left:5%;
        width: 90%;
    }

    .social-p{
        font-size: 18px;
        margin-top: 20px;
    }

    .content-img-art{
        width: 70%;
    }
}

/* Medium devices (tablets, entre 768px y 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .content-div{
        margin-left:10%;
        width: 80%;
    }

    .content-div p, .content-div li, .content-div span{
        font-size: 20px;
    }

    .social-p{
        font-size: 16px;
    }

    .content-img-art{
        width: 60%;
    }
}

/* Large devices (desktops, entre 992px y 1199.98) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .content-div{
        margin-left:15%;
        width: 70%;
    }

    .content-div p, .content-div li, .content-div span{
        font-size: 20px;
    }

    .timeline:after {
        top: 28vh;
    }

    .content-img-art{
        width: 60%;
    }
}

/* Extra large devices (large desktops, entre 1200px y 1399.98px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .content-div{
        margin-left:15%;
        width: 70%;
    }
}

/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    .video-source {
        height: 100%;
        width: 100vw;
        margin: 0px auto 0px auto;
        display: block;
    }

    .video-div{
        padding-top: 120px;
        height: 100vh;
        width: 100vw;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }
    .timeline:after {
        border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}

